
/*--------body*/

body{

}


@media (max-width: 600px) {
  section, h1, h2, h3, h4, h5, h6, p {
     margin: 0 20px !important;
  }
}

@media (max-width: 600px) {
  .btn {
     margin: 5px !important;
  }
}

/*--------boton imagen*/

.proyectos button {
  border: none;
  border-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}


/*--------full*/


@media (max-width: 600px) {
  .proyectos{
     width: 320px !important;
  }
}


/*--------home*/

.fadeIn p {
    display:inline;
    
}

/*--------proyectos*/

.cajalogoempresa img{
  max-width: 90%;
  margin:0 auto;
  margin-bottom: -4%;
}
